h1, h2, h3, h4, h5 , h6{
	text-align: center;
}
span {
	color: white;
	font-size: 30px;
	display: block;
	text-align: center;
	background-color: black;
}
span p {
	font-style: italic;
	text-decoration: underline;
}
big{
	text-align: justify;
}